In [1]:
#   STRING DATA TYPE

In [2]:
name1='Akshay'
name2="Akshay"
name3='''Akshay'''
name4="""Akshay"""


print(name1,"name is created by using single quotes")
print(name2,"name is created by using double quotes")
print(name3,"name is created by using triple single quotes")
print(name4,"name is created by using triple double quotes quotes")

Akshay name is created by using single quotes
Akshay name is created by using double quotes
Akshay name is created by using triple single quotes
Akshay name is created by using triple double quotes quotes

In [3]:
loc1='''TCS company 
        white field 
        banglore'''
loc2="""TCS company 
     Pune 
     Hinjewadi"""

print(loc1)
print(loc2)

TCS company
        white field
        banglore
TCS company
     Pune
     Hinjewadi

In [4]:
#  ACCESING STRING BY USING INDEX

wish="hello world"

print(wish[0])
print(wish[3])

h
l

In [5]:
wish="hello world"

print(wish[0:5])

hello

In [6]:
wish="hello world"

print(wish[0:8])

hello wo

In [7]:
wish="helloworld"

print(wish[0:8])

hellowor

In [8]:
wish="hello world"

for char in wish:
    print(char)

h
e
l
l
o

w
o
r
l
d

In [9]:
#   STRING IS IMMUTABLE i.e IT CHANGES CAN NIT BE MADE

In [10]:
#PRINTING NAME AND FIRST INDEX

name="Akshay"

print(name)
print(name[0])

Akshay
A

In [11]:
#trying to modify string its shows error

name="Akshay"

print(name)
print(name[0])
name[0]="x"

Akshay
A

TypeError: 'str' object does not support item assignment

In [12]:
# + WORKS AS A COCATENATION OPERATOR IN STRING

a="python"
b="programming"
print(a+b)

pythonprogramming

In [13]:
#   * OPERATOR WORKS AS A REPETATION IN STRING

course="python"
print(course*3)

pythonpythonpython

In [14]:
#  LENGTH OF THE STRING

course="Python"
print(len(course))

6

In [15]:
#   MEMBERSHIP OPERATORS IN,NOT IN

In [17]:
print('p'in 'python')
print('z'in 'python')
print('on'in 'python')
print('pa'in 'python')

True
False
True
False

In [19]:
print('b' not in 'apple')

True

In [20]:
#  PRINTING str CLASS METHODS BY USING dir(str) function


print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [21]:
#  MTHODS IN str  
#  'count','upper','lower','replace','split','strip'

In [22]:
#UPPER METHOD 

name="Akshay"
print("Before converting:",name)
print("After converting:",name.upper())

Before converting: Akshay
After converting: AKSHAY

In [23]:
# lower method

name = "DANIEL"
print("Before converting: ", name)
print("After converting: ", name.lower())

Before converting:  DANIEL
After converting:  daniel

In [25]:
#  Strip() method

course="python      "
print("with spaces course lenfth is:",len(course))
x=course.strip()
print("after removing speces,course length is:",len(x))

with spaces course lenfth is: 12
after removing speces,course length is: 6

In [28]:
#  COUNT()

s="Python is a programming language,Python is easy"
print(s.count("Python"))
print(s.count("hello"))

2
0

In [32]:
#  Replace()

s1= "Java programming language"
s2=s1.replace("Java","Python")

print(s1)
print(s2)

Java programming language
Python programming language

In [35]:
s1="Java programming language"
s2=s1.replace("Java","python")

print(s1)
print(s2)

print(id(s1))
print(id(s2))

Java programming language
python programming language
1731382716384
1731412105200

In [36]:
# split()


s= "Python programming language"
n=s.split()

print("Before splitting:",s)
print("After splitting:",n)

Before splitting: Python programming language
After splitting: ['Python', 'programming', 'language']

In [37]:
s="This is,Python programming language ,study"
n=s.split(",")

print("Before splitting:",s)
print("After splitting:",n)

Before splitting: This is,Python programming language ,study
After splitting: ['This is', 'Python programming language ', 'study']