In [2]:
# Python Input and Output

In [3]:
#  Hard coading the Values

age=21
print(age)

21

In [4]:
# Printing name by taking value at run time


name= input("Enter your name")
print("you enter name as:",name)

Enter your nameAkshay
you enter name as: Akshay

In [5]:
# Printing name and age by taking value atbruntime

name=input("Enter the name: ")
age=input("Enter the age:")

print("you entered name as:" ,name)
print("you entered age as:",age)

Enter the name: Akshay
Enter the age:21
you entered name as: Akshay
you entered age as: 21

In [6]:
#checking type for input function

value = input("Enter the value ")
print("Entered value as: ", value)
print("type is: ", type(value))

Enter the value Akshay
Entered value as:  Akshay
type is:  <class 'str'>

In [7]:
# Conver from string to int data type

a = "123"
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

123
<class 'str'>
123
<class 'int'>

In [8]:
#Converting from string to int data type

a = input("Enter a value:")
print("Your value is:", a)
print("data type is:", type(a))
b = int(a)
print("After converting the value is:", b)
print("data type is:", type(b))

Enter a value:123
Your value is: 123
data type is: <class 'str'>
After converting the value is: 123
data type is: <class 'int'>

In [9]:
#  Converting from string to float data type

a = "123.99"
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

123.99
<class 'str'>
123.99
<class 'float'>

In [10]:
#  Converting from string to float data type

a = input("Enter a value:")
print("Your value is:", a)
print("data type is:", type(a))

b = float(a)
print("After converting the value is:", b)
print("data type is:", type(b))

Enter a value:11.10
Your value is: 11.10
data type is: <class 'str'>
After converting the value is: 11.1
data type is: <class 'float'>

In [11]:
#Converting from float to int data type
# demo10.py
a = 10000.45
print(a)
print(type(a))
b = int(a)
print(b)
print(type(b))

10000.45
<class 'float'>
10000
<class 'int'>

In [12]:
#  + operator concatenates/joins two string values


p1 = input("Enter First product price:")
p2 = input("Enter Second product price:")

print("Total price is:", p1+p2)

Enter First product price:15
Enter Second product price:25
Total price is: 1525

In [13]:
#Converting string to int and perform + operator


p1 = input("Enter First product price:")
p2 = input("Enter Second product price:")
a = int(p1)
b = int(p2)
print("Total price is:", a+b)

Enter First product price:55
Enter Second product price:55
Total price is: 110