In [1]:
   # Python datatypes

In [2]:
#print different kinds of variables
#demo1.py


emp_id = 1
name = "Daniel"
salary = 10000.56

print("My employee id is: ", emp_id)
print("My name is: ", name)
print("My salary is: ", salary)

My employee id is:  1
My name is:  Daniel
My salary is:  10000.56

In [3]:
# Check the type of variable


emp_id = 1
name = "Daniel"
salary = 10000.56
print("My employee id is: ", emp_id)
print("My name is: ", name)
print("My salary is: ", salary)
print()       # creating space in output
print("emp_id type is :",type(emp_id))
print("name type is :",type(name))
print("salary type is :",type(salary))

My employee id is:  1
My name is:  Daniel
My salary is:  10000.56

emp_id type is : <class 'int'>
name type is : <class 'str'>
salary type is : <class 'float'>

In [4]:
# To print integer value


a=20
print(a)
print(type(a))

20
<class 'int'>

In [5]:
# int data type can store bigger values tooo


b=99999999999
print(b)
print(type(b))

99999999999
<class 'int'>

In [6]:
#  Float value

salary = 1000.52
print(salary)
print(type(salary))

1000.52
<class 'float'>

In [8]:
# Boolean data type 

a=True
b=False

print(a)
print(b)

True
False

In [9]:
#  None Data type

a= None

print(a)
print(type(a))

None
<class 'NoneType'>

In [10]:
# Creating  String


name1='Akshay'
name2="Akshay"
name3=''' Akshay'''
name4="""Akshay"""

print(name1)
print(name2)
print(name3)
print(name4)

print(type(name1))
print(type(name2))
print(type(name3))
print(type(name4))

Akshay
Akshay
 Akshay
Akshay
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
#  Creating a list datatype

values = [10,20,30,40]
print(values)
print(type(values))

[10, 20, 30, 40]
<class 'list'>

In [12]:
#  Creating tuple data structure


values = (10, 20, 30, 40)

print(values)
print(type(values))

(10, 20, 30, 40)
<class 'tuple'>

In [13]:
# creating a sett data structure

values={10,20,30,40}
print(values)
print(type(values))

{40, 10, 20, 30}
<class 'set'>

In [14]:
#  Creating disctionary data structure

details = {1: "Jeswanth", 2: "Kumari", 3: "Prasad", 4: "Daniel"}

print(details)
print(type(details))

{1: 'Jeswanth', 2: 'Kumari', 3: 'Prasad', 4: 'Daniel'}
<class 'dict'>

In [15]:
#  Creating Range of value

a=range(5)
print(a)
print(type(a))

range(0, 5)
<class 'range'>

In [16]:
#  Range start,end Function

a=range(1,10)
print(a)

range(1, 10)

In [17]:
# Access element from range data type


r=range(10,15)
for value in r:
    print(value)

10
11
12
13
14