In [1]:
#  Python dictionary data structure

In [2]:
# Creating Dictionary
d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print(d)

{10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}

In [3]:
#  Creating Empty Dictionary
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [4]:
#  Creating empty dictionary and adding elements to dictionary

d={}
d[10]="Ramesh"
d[20]="Suresh"
d[30]="Daniel"
print(d)

{10: 'Ramesh', 20: 'Suresh', 30: 'Daniel'}

In [5]:
#  Accesing dictionary Values by using keys

d={10:"Ramesh",20:"Arjun",30:"Daniel"}

print(d[10])
print(d[20])
print(d[30])

Ramesh
Arjun
Daniel

In [7]:
#  Accesing keys and values using foer loop
d={10:"Ramesh",20:"Arjun",30:"Daniel"}
for i in d:
    print(i,d[i])

10 Ramesh
20 Arjun
30 Daniel

In [8]:
#  Adding key-value pair to dictionary

d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print("old dictionary:",d)

d[9]="john"
print("Added key-value pair to dictionary:",d)

old dictionary: {10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}
Added key-value pair to dictionary: {10: 'Ramesh', 20: 'Arjun', 30: 'Daniel', 9: 'john'}

In [9]:
#  Updating key value pair in dictionary

d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print("old dictionary:",d)

d[30]='Chandu'
print("Updated dictionary 3:Chandu:",d)

old dictionary: {10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}
Updated dictionary 3:Chandu: {10: 'Ramesh', 20: 'Arjun', 30: 'Chandu'}

In [10]:
#  Removing or Deleting elements from diction

d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print("Before deleting key from dictionary:",d)
del d[10]
print("After deleting key from dictionary:",d)

Before deleting key from dictionary: {10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}
After deleting key from dictionary: {20: 'Arjun', 30: 'Daniel'}

In [11]:
#  We can delete total dictionary object.... Aftr run got error

d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print(d)
del d
print(d)

{10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}

NameError: name 'd' is not defined

In [12]:
# len(p)

d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print(len(d))

3

In [13]:
# methods in dictionary

print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [14]:
#  Removing dictionary object by using clear()method

d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print(d)
d.clear()
print("after cleared entries in dictionary:",d)

{10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}
after cleared entries in dictionary: {}

In [15]:
#  Keys() method

d={10:"Ramesh",20:"Arjun",30:"Daniel"}
print(d)
print(d.keys())

{10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}
dict_keys([10, 20, 30])

In [16]:
# Values()
d={100:"Ramesh",200:'Daniel',300:'Mohan'}
print(d)
print(d.values())

{100: 'Ramesh', 200: 'Daniel', 300: 'Mohan'}
dict_values(['Ramesh', 'Daniel', 'Mohan'])

In [17]:
# items()
d={10:"Ramesh",20:"Arjun",30:"Daniel"}

for k,v in d.items():
    print(k,v)

10 Ramesh
20 Arjun
30 Daniel

In [18]:
# Dictionary compression

squares={a:a*a for a in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}