# Pandas NuN value

In [1]:
#  Creating series with NaN values

import pandas as pd 
import numpy as np

marks=[36,70,np.nan,60]
s=pd.Series(marks)
print(s)

0    36.0
1    70.0
2     NaN
3    60.0
dtype: float64

In [3]:
import pandas as pd
import numpy as np

names=["Daniel","Akshay","Ranjan",np.nan]
s=pd.Series(names)
print(s)

0    Daniel
1    Akshay
2    Ranjan
3       NaN
dtype: object