# Naming Conventions

In [1]:
#  Creating a valid identifier

student_id=101
print(student_id)

101

In [2]:
#Creating invalid identifier  #  Syntax error

($tudemt_id=101
print($tudemt_id)

SyntaxError: invalid syntax (753220546.py, line 3)

In [2]:
#  Identifier with number but not start with number

student_id12=1010
print(student_id12)

1010

In [3]:
#  Invalid


12student_id=101
print(12student_id)

SyntaxError: invalid decimal literal (3520341015.py, line 4)

In [4]:
#  Identifiers are Case sensitive

value=10
print(value)

10

In [5]:
value=10
print(VALUE)

NameError: name 'VALUE' is not defined

In [ ]:
# Cannnit use keywords as identifiers

if=10
printa(if)

# Variables

In [6]:
#  Creating a variable

age=16
age

16

In [7]:
#craeting two variables

name="daniel"
weight=15

print(name)
print(weight)

daniel
15

In [8]:
#  Creating a variable with meaningful text message

name="Daniel"
print("I am",name)

I am Daniel

In [9]:
#  Craeting multiple variables in single line

a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

In [10]:
#  sinbgle value for multiple variables

a=b=c=5

print(a)
print(b)
print(c)

5
5
5

In [11]:
#  Variable Re-initialization

sal=10000
print("My salary is",sal)

My salary is 10000

In [12]:
sal=10000
sal=20000
print("My saalary is",sal)

My saalary is 20000

#  Python Datatypes

In [13]:
#  Print different kinds of variables

emp_id=1
name="Daniel"
salary=10000.56

print("My employee id is:",emp_id)
print("My name is:",name)
print("My salary is:",salary)

My employee id is: 1
My name is: Daniel
My salary is: 10000.56

In [14]:
#  type()  function

emp_id=1
name="Daniel"
salary=10000.56

print("My employee id is:",emp_id)
print("My name is:",name)
print("My salary is:",salary)
print()

print('emp_id type is',type(emp_id))
print('name type is',type(name))
print('salary type is',type(salary))

My employee id is: 1
My name is: Daniel
My salary is: 10000.56

emp_id type is <class 'int'>
name type is <class 'str'>
salary type is <class 'float'>

In [15]:
#  int data type
a=20
print(a)
print(type(a))

20
<class 'int'>

In [16]:
# float datatype

salary=10000.52
print(salary)
print(type(salary))

10000.52
<class 'float'>

In [17]:
# Boolean data type

a=True
b=False

print(a)
print(b)

True
False

In [18]:
#v None data type

a=None
print(a)
print(type(a))

None
<class 'NoneType'>

In [19]:
# string 

name1="Daniel"
name2='Daniel'
name3='''Daniel'''
name4="""Daniel"""

print(name1)
print(name2)
print(name3)
print(name4)

print(type(name1))
print(type(name2))
print(type(name3))
print(type(name4))

Daniel
Daniel
Daniel
Daniel
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [20]:
#  List data stucture

values=[10,20,30,40]
print(values)
print(type(values))

[10, 20, 30, 40]
<class 'list'>

In [21]:
# tuple

values=(10,20,30,40)
print(values)
print(type(values))

(10, 20, 30, 40)
<class 'tuple'>

In [22]:
# Set

values = {10, 20, 30, 40}
print(values)
print(type(values))

{40, 10, 20, 30}
<class 'set'>

In [23]:
#  Dictionary
details = {1: "Jeswanth", 2: "Kumari", 3: "Prasad", 4: "Daniel"}
print(details)
print(type(details))

{1: 'Jeswanth', 2: 'Kumari', 3: 'Prasad', 4: 'Daniel'}
<class 'dict'>

In [24]:
#  Range

a = range(5)
print(a)
print(type(a))

range(0, 5)
<class 'range'>

In [25]:
# Creating range of values 1 to 9

a = range(1, 10)
print(a)

range(1, 10)

In [26]:
r = range(10, 15)
for value in r:
    print(value)

10
11
12
13
14

# Python Operators

In [27]:
# operators and operands

a=10
b=20
c=a+b
c

30

In [28]:
#  Arithmetic Operators

a=13
b=5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

18
8
65
2.6
3
371293
2

In [29]:
#  Assignment Operators

a=13
print(a)

a+=5
print(a)

13
18

In [30]:
#Unary Minus Operator

a=10
print(a)
print(-a)

10
-10

In [31]:
#  Relational Operator

a=13
b=5

print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [32]:
a=True
b=False

print(a and a)
print(a or b)
print(not a)

True
True
False

In [33]:
#  Logical Operator

a=1
b=2
c=3

print((a>b)) and (b>c)
print((a<b))and(b<c)

False
True

In [34]:
#  Membership operators ( in,not in)

values=[10,20,30]

print(20 in values)
print(22 in values)
print(30 not in values)

True
False
False

# Input and Output

In [35]:
#  input(p)  Function

name=input("Enter the name:")
print("You enter name as:",name)

Enter the name:
You enter name as:

In [36]:
# Checking return type value for input() fuction

value=input("Enter the value")
print("Entered value as:",value)

print("type is ",type(value))

Enter the value50
Entered value as: 50
type is  <class 'str'>

In [37]:
#  Convert from string to int

a="123"
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

123
<class 'str'>
123
<class 'int'>

In [38]:
#  Converting from string to float data type

a="123.99"
print(a)
print(type(a))

b=float(a)
print(b)
print(type(b))

123.99
<class 'str'>
123.99
<class 'float'>

In [39]:
# Converting the float datatype value into int data type

a=1000.5
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

1000.5
<class 'float'>
1000
<class 'int'>

In [40]:
#  + operator concatenates/joins two string values

p1=input("Enter First product price:")
p2=input("Enter Second product price:")


print("Total price is:",p1+p2)

Enter First product price:55
Enter Second product price:45
Total price is: 5545

# FLOW CONTROL

In [41]:
#  Executing if block statements by using if staement


x=1
y=1

print("x==y value is:",(x==y))
if x==y:
    print("If block statement executed ")

x==y value is: True
If block statement executed

In [42]:
#  Executing out of if block statements

x=1
y=2

print("x==y value is:",(x==y))
if x==y:
    print('if block statements executed')
    
print("out of if block statements")

x==y value is: False
out of if block statements

In [43]:
#  Executing if block statements by using if else statement

x=1
y=1

print("x==y is :",(x==y))

if x==y:
    print("if block statements executed")
    
else:
    print("else block statements executed")

x==y is : True
if block statements executed

In [44]:
#  Printing the else statement

x=1
y=2

print("x==y value is:",(x==y))

if x==y:
    print("If block is executed")
    
else:
    
    print("Else block is executed")

x==y value is: False
Else block is executed

In [45]:
#  Printing corresponding value by using if,elif, else statement

print("Enter the values from 0 to 4")
x=int(input("Enter a number:"))

if x==0:
    print("You entered:",x)
elif x==1:
    print("You entered:",x)
    
elif x==2:
    print("You entered:",x)
    
elif x==3:
    print("You entered:",x)
    
elif x==4:
    print("You entered:",x)
else:    
    print("Beyond the range than specified")

Enter the values from 0 to 4
Enter a number:3
You entered: 3

In [46]:
#  For Loop
# using for loop printing value list

values=[10,20,30,"Daniel"]
for value in values:
    print(value)

10
20
30
Daniel

In [47]:
# While loop

#  Printing numbers from 1 to 5 by using while loop

x=1
while x<=5:
    print(x)
    x=x+1
    
print('end')

1
2
3
4
5
end

In [48]:
#  Break statement

x=1
while x<=10:
    print("x=",x)
    x=x+1
    
print("Out of loop")

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
Out of loop

In [49]:
# Printing just 1 to 5 by using while loop and break

x=1
while x<=10:
    print("x=",x)
    x=x+1
    if x==5:
        break
        
print("Out of loop")

x= 1
x= 2
x= 3
x= 4
Out of loop

In [52]:
#  Break without loop.... Getting Syntax error

x=1

if x<=10:
    print(x)
    break

SyntaxError: 'break' outside loop (2387416904.py, line 7)

In [53]:
#  Continue satement

cart=[10,20,500,700,50,60]

for item in cart:
    if item ==500:
        continue
    print(item)

10
20
700
50
60

In [55]:
# Pass statement     #  dont get output

def upcoming_sales():
    pass

upcoming_sales()

# Function Part 1

In [56]:
#  Creating a function

def display():
    print("Welcome to function")

In [58]:
# calling a function


    
#  Call the finction
display()

Welcome to function

In [59]:
#  Calling function multiple times

display()
display()

Welcome to function
Welcome to function

In [60]:
#  Creating two functions and calling them

def first():
    print("This is first Function")
    
def second():
    print("This is seconf function")
    
first()
second()

This is first Function
This is seconf function

In [64]:
# Creating two functions

def m1():
    print("first function")
def m2():
    print("second function")
    
m1()
m2()

first function
second function

In [62]:
m1()

first function

In [66]:
#  Function without parameter

def display():
    print("Welcome to the function which having no parameters")
    
display()

Welcome to the function which having no parameters

In [67]:
#  Parameterized function

In [68]:
#  One parameterized function

def testing(a):
    print("One parameterised function:",a)
    
testing(10)

One parameterised function: 10

In [69]:
#  One parameterised function

x=input('Enter a value:')
testing(x)

Enter a value:50
One parameterised function: 50

In [70]:
#  two parameterised function

def addition(a,b):
    print("Addition of two values=",(a+b))
    
addition(10,20)

Addition of two values= 30

In [71]:
#  Return keyword in python #  error

print('Hello')
return 100

Hello

SyntaxError: 'return' outside function (3968301138.py, line 4)

In [72]:
#  Function without return

def balance():
    print("My bank balance is:")
balance()

My bank balance is:

In [76]:
#  Function with return

def balance():
    print("My bank balance is: ")
    return 100
balance()

My bank balance is:

100

In [77]:
def balance():
    print("My bank balance is:")
    return 100

b=balance()
print(b)

My bank balance is:
100

In [2]:
# Function with return statement

def balance():
    return 0
    
b=balance()

if b==0:
    print("Balance is:",b)
    
elif b<=0:
    print("Balance is:",b,"negative please deposit")
    
else:
    print("Balance is :",b)

Balance is: 0

In [3]:
#  Function with return statement

def balance():
    return-50
b=balance()

if b==0:
    print("Balance is:",b)
    
elif b<=0:
    print("balance is :",b,"It is nehative please deposit")
    
else:
    print("Balance is:",b)

balance is : -50 It is nehative please deposit

In [5]:
#  Below program also valid but not recommended

def balance():
    print("My bank balance is :")
    return 100

print(balance())

My bank balance is :
100

In [6]:
#  return vs None

def m1():
    print("This is function returning nothing")
    
x=m1()
print(x)

This is function returning nothing
None

In [7]:
#  define a function which can return multiple values

def m1():
    a=10
    b=11
    return a,b

x,y=m1()

print("First value is :",x)
print("Second value is:",y)

First value is : 10
Second value is: 11

In [8]:
def m1():
    a=10
    b=11
    c=12
    return a,b,c

x=m1()
print("all values :",x)

all values : (10, 11, 12)

In [9]:
#  A function with parameters and return type


def add(x,y,z):
    result=x+y+z
    return result

r=add(10,20,30)

print("Addition of values is",r)

Addition of values is 60

#  Function part 2 


Argument

In [17]:
#  Formal and actual Arguments

def add(a,b):
    c=a+b
    print(c)
    
# call the function

x=10
y=15

add(x,y)

25

In [18]:
#  Positional Argument

def sub(x,y):
    print(x-y)
    
#  calling function

sub(20,10)

10

In [19]:
#  error positional Argument

def sub (x,y):
    print(x-y)
    
#calling function

sub(10,20,30)

TypeError: sub() takes 2 positional arguments but 3 were given

In [20]:
#  Keyword Argument

def cart(product,price):
    print("Product is:",product)
    print("cost is:",price)
    
cart(product='bangles',price=20000)

Product is: bangles
cost is: 20000

In [21]:
def cart(product,price):
    print("product is:",product)
    print("cost is:",price)
    
cart(price=1200,product="shirt")

product is: shirt
cost is: 1200

In [22]:
# Default Argument

def cart (product,price=40.0):
    print("Product is:",product)
    print("cost is:",price)
    
# calling function

cart(product='pen')

Product is: pen
cost is: 40.0

In [24]:
def cart(product, price = 40.0):
    print("Product is:", product)
    print("cost is:", price)
cart(price = 500, product = "shirt")

Product is: shirt
cost is: 500

In [26]:
# variable length argument (*)

def m(x):
    print(x)
        
m(10)

10

In [27]:
#  Variable length argument(error)

def m(x):
    print(x)
    
m(10,20)

TypeError: m() takes 1 positional argument but 2 were given

In [30]:
#  variable length argument


def m(*x):
    print(x)
    
m(10,20)

(10, 20)

In [31]:

def m(*x):
    print(x)
    
m(10,20,30)

(10, 20, 30)

# Anonymous Function OR Lambdas

In [1]:
#  anonymous Function

s= lambda a:a*a

x=s(4)
print(x)

16

In [2]:
#  A simple differrence between normal and lambda function

def square(t):
    return t*t

s=square(2)
print(s)

4

In [ ]:
#  To find sum of two values by usng normal function

def add(x,y):
    return x+y

b=add(2,3)
print(b)

In [4]:
#  Two find sum of two values by using anonymous function

add=lambda x,y:x+y

result=add(1,2)
print("The sum of the values is:",result)

The sum of the values is: 3

In [6]:
#  map(p1,p2) function

without_gst_cost=[100,200,300,400]
with_gst_cost=map(lambda x:x+10, without_gst_cost)

x=list(with_gst_cost)
print("Without GST items cost", without_gst_cost)
print("With GST iyems costs:",x)

Without GST items cost [100, 200, 300, 400]
With GST iyems costs: [110, 210, 310, 410]

# LIST  Data Structure

In [1]:
#  Creatinf list

a=[]
print(a)
print(type(a))

[]
<class 'list'>

In [2]:
#  Creating list with same type of elements

numbers=[10,20,30,40]

numbers

[10, 20, 30, 40]

In [3]:
# Creating list with same type of elements with duplicates 

numbers=[10,20,30,40,10,20,30,40]
print(numbers)

[10, 20, 30, 40, 10, 20, 30, 40]

In [4]:
#  Creating list with different type of elements

student_info=["Daniel",10,35.9]
student_info

['Daniel', 10, 35.9]

In [5]:
# Creating list by using list(p) predefined method

r=range(0,10)
a=list(r)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# List having mutable nature

a=[1,2,3,4,5]
print(a)
print("Before modifying a[o]:",a[0])

a[0]=20

print("After modifying a[0]:",a[0])

print(a)

[1, 2, 3, 4, 5]
Before modifying a[o]: 1
After modifying a[0]: 20
[20, 2, 3, 4, 5]

In [9]:
#  Accessing element from list

names=["Daniel","Akshay","Prasad","Ramesh"]

print(names)

print(names[0])
print(names[2])

['Daniel', 'Akshay', 'Prasad', 'Ramesh']
Daniel
Prasad

# TUPLE data Structure

In [1]:
#  Tuple having same type of objects

employee_ids=(10,20,30,40,50)
print(employee_ids)
print(type(employee_ids))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [3]:
#  Single value tuple

n=(9)
print(n)
print(type(n))

9
<class 'int'>

In [5]:
#  A Single value with tuple syntax but not tuple

name=("Daniel")

print(name)
print(type(name))

Daniel
<class 'str'>

In [6]:
#  Tuple single value with comma seperator then its tuple

name=("Daniel",)
print(type(name))

<class 'tuple'>

In [7]:
#  Paremthesis simbol is optional while craeting tuple

ids=10,20,30,40,50
print(ids)
print(type(ids))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [8]:
#  Tuple with mix values
t=(11,12,13,"aaaa")

print(t)

(11, 12, 13, 'aaaa')

In [9]:
#  Creating tuple by using tuple function

a=[11,22,33]
t=tuple(a)
print(t)

(11, 22, 33)

In [10]:
#  Accessing elements of the tuple

t=(10,20,30,40,50,60)
print(t[0])
print(t[-1])

10
60

In [13]:
#  Acccessing tuple by using slicing

t = (10, 20, 30, 40, 50, 60) 
 
print(t[2:5]) 
print(t[2:100]) 
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

In [14]:
#Prove tuple having immutable nature

t = (10, 20, 30, 40)
print(t[1])
t[1] = 70

20

TypeError: 'tuple' object does not support item assignment

In [15]:
#  cont(p) method

t=(10,20,10,30,10)
print(t.count(10))

3

In [18]:
#  index(p) method

t=(10,20,30,10)
print(t.index(30))

2

# SET data Structure

In [19]:
#  Creating same type of elements by using set

s={10,20,30}
print(s)
print(type(s))

{10, 20, 30}
<class 'set'>

In [20]:
s = {10, "Daniel", 30.9, "Prasad", 40} 
print(s) 
print(type(s))

{'Prasad', 'Daniel', 40, 10, 30.9}
<class 'set'>

In [21]:
#  Craeting set by using range(p)

s=set(range(5))
print(s)

{0, 1, 2, 3, 4}

In [22]:
#  Set does nor allow duplicates

s={10,20,30,40,10,10}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [23]:
#  Creating set by using set parameter function3

r=range(0,10)
l=set(r)
print(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
#  add(p)    add element to the set

s={10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

In [25]:
#  remove(p)  method
s={40,10,30,20}
s.remove(30)
print(s)

{40, 10, 20}

In [26]:
s.clear()
print(s)

set()

# Dictionary data structure

In [27]:
#  Creating dictionary

d={10:'Akshay',20:'Abhay',30:'Daniel'}
print(d)

{10: 'Akshay', 20: 'Abhay', 30: 'Daniel'}

In [29]:
d[40]='Arjun'
d

{10: 'Akshay', 20: 'Abhay', 30: 'Daniel', 40: 'Arjun'}

In [30]:
# Accessing dictionary values using keys

print(d[10])

print(d[30])

Akshay
Daniel

In [31]:
#  deleting key in dictionary

d = {10: "Ramesh", 20: "Arjun", 30: "Daniel"}
print("Before deleting key from dictionary: ", d)
del d[10]
print("After deleting key from dictionary: ", d)

Before deleting key from dictionary:  {10: 'Ramesh', 20: 'Arjun', 30: 'Daniel'}
After deleting key from dictionary:  {20: 'Arjun', 30: 'Daniel'}

In [32]:
#  clear() method

d.clear()
print("After cleared entries in dictionary:",d)

After cleared entries in dictionary: {}

In [33]:
# keys() method

d = {100: "Ramesh", 200: "Daniel", 300: "Mohan"}
print(d)

print(d.keys())

{100: 'Ramesh', 200: 'Daniel', 300: 'Mohan'}
dict_keys([100, 200, 300])

In [35]:
#  values()

print(d.values())

dict_values(['Ramesh', 'Daniel', 'Mohan'])

In [36]:
#  item()

for k,v in d.items():
    print(k,v)

100 Ramesh
200 Daniel
300 Mohan

# Python Object Oriented Programming

In [1]:
#  Define a class

class Employee:
    def dispay(self):
        print("hello My name is Daniel")

In [5]:
#  Creating a class and object

class Employee:
    def display(self):
        print("Hello My name is Akshay")
        
emp=Employee()
emp.display()

Hello My name is Akshay

In [6]:
#  Creating a class and object

class Employee:
    def display(self):
        print("Hello my name is Akshay")
        
    def teaching(self):
        print("I like teaching")
        
emp=Employee()

emp.display()
emp.teaching()

Hello my name is Akshay
I like teaching

In [9]:
#   Creating a constructor

class Employee:
    def __init__(self):
        print("Constructor is executed")
        
emp=Employee()

Constructor is executed

In [10]:
#  One parameterised constructor

class Employee:
    def __init__(self,number):
        self.number=number
        print("Employee id is:",self.number)
        
e1=Employee(1)
e2=Employee(2)
e3=Employee(3)

Employee id is: 1
Employee id is: 2
Employee id is: 3

In [15]:
#  One parameterised constructor and instance method

class Employee: 
     def __init__(self, number): 
            self.number = number 
 
     def display(self): 
          print("Employee id is:", self.number) 
 
e1 = Employee(1) 
e2 = Employee(2) 
e3 = Employee(3) 
 
e1.display() 
e2.display() 
e3.display()

Employee id is: 1
Employee id is: 2
Employee id is: 3

In [17]:
#  Two parameterized constructor

class Employee:    
    def __init__(self, number, name):    
        self.number = number 
        self.name = name 
 
    def display(self):   
        print("Hello my id is :", self.number)  
        print("My name is :", self.name)      
 
e1=Employee(1, 'Daniel') 
e1.display() 
 
e2=Employee(2, 'Arjun') 
e2.display()

Hello my id is : 1
My name is : Daniel
Hello my id is : 2
My name is : Arjun

In [18]:
#  Istance variable

class Student:
    def __init__(self,name,number):
        self.name=name
        self.number=number
        
s1=Student('Daniel',101)
s2=Student("Akshay",102)


print('Student1 info')
print("NAme:",s1.name)
print("id",s1.number)

print("Studen2 info:") 
print("Name: ", s2.name) 
print("Id : ", s2.number)

Student1 info
NAme: Daniel
id 101
Studen2 info:
Name:  Akshay
Id :  102

In [19]:
#  Instance method

class Demo:
    def __init__(self,a):
        self.a=a
        
    def m(self):
        print(self.a)
        
d=Demo(10)
d.m()

10