   Tubple data Structure

In [2]:
# Tuple having same type of elements

employee_ids=(10,20,30,40,50,)
print(employee_ids)
print(type(employee_ids))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [4]:
#  A single value with Tuple syntax,but its not Tuple


number=(9)

print(number)
print(type(number))

print()    # For specifying space in output
print()
print()

name=("Daniel")

print(name)
print(type(name))

9
<class 'int'>



Daniel
<class 'str'>

In [6]:
#   Tuple Single value ends with comma seperator then its tuple

name=("Daniel",)
print(name)
print(type(name))

('Daniel',)
<class 'tuple'>

In [7]:
#  Parenrhesis Symbol is optional while using tuple

emp_ids= 10,20,30,40,50

print(emp_ids)

(10, 20, 30, 40, 50)

In [8]:
#  Empty tuple

emp_ids=()
print(emp_ids)
print(type(emp_ids))

()
<class 'tuple'>

In [9]:
#  Tuple example

emp_id = (11, 12, 13)
std_id = 120, 130, 140
print(emp_id)
print(std_id)

(11, 12, 13)
(120, 130, 140)

In [10]:
t=(11,12,13,"Akshay")
print(t)

(11, 12, 13, 'Akshay')

In [11]:
#  Creaing Tuple by using Tuple function

a=[11,22,33]
t=tuple(a)
print(t)

(11, 22, 33)

In [13]:
# Accesing tuple by using index

t=(10,20,30,40,50,60)
print(t[0])
print(t[-1])

10
60

In [14]:
# Accesing uple by using licing
t=(10,20,30,40,50,60)

print(t[2:5])
print(t[2:100])
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

In [1]:
# Tuple vs immutability....Getting error

t=(10,20,30,40)
print([1])
t[1=70]

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (968659641.py, line 5)

In [2]:
#   Mathematical Operators on Tuple

In [3]:
#   Concatenation Operator(+)

t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2

print(t3)

(10, 20, 30, 40, 50, 60)